<section>
    <div class="container">
            <hr><h3><b>Add Items to your website</b></h3><hr>
      <form style="text-align:left; padding: 10px;" method="POST" action="/insertitem" enctype="multipart/form-data">
            <div class="form-group" >
                <h4><b>Model No.:  </b></h4>
               <input type="text" class="form-control" name="id" placeholder="Name" required>
              <h4><b>Item Name  </b></h4>

               <input type="text" class="form-control" name="itemname" placeholder="Name" required>

              <h4><b>Price of Item</b></h4>

             <input type="text" class="form-control" name="itemprice"  placeholder="$$$$" required>

            <h4><b>Colour of Item</b></h4>

           <input type="text" class="form-control" name="itemcolor"  placeholder="Colour" required>

            <h4><b>Upload photo</b></h4>

           <input type="file" id="myFile" name="photo">

           </div>
        <button type="submit" onclick="return confirm('Are you sure to add this Item in your website?')" class="btn btn-primary btn btn-dark mb-2">Add this Item</button><br><br>
       </form>
      </div>
</section>