<footer style="background-color:  rgb(19, 18, 18)" class="page-footer font-small mdb-color pt-4">

<div class="container text-center text-md-left">


  <div class="row text-center text-md-left mt-3 pb-3">


    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
      <h6 style="color:white" class="text-uppercase mb-4 font-weight-bold">Service</h6>
      <p  style="color:white">Shivani Production<br>
                              Shivani Hosting<br>
                              Shivani Web Design<br>
                              Shivani Development<br>
                              Shivani Education<br>
      </p>
    </div>
    <!-- Grid column -->

    <hr class="w-100 clearfix d-md-none">


    <hr class="w-100 clearfix d-md-none">


    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
      <h6 style="color:white"class="text-uppercase mb-4 font-weight-bold">Pages</h6>
      <p>
        <a  style="color:white" href="index.php">Home</a>
      </p>
      <p>
        <a  style="color:white" href="booking.php">About</a>
      </p>
      <p>
        <a  style="color:white" href="about.php">Resume</a>
      </p>
      <p>
        <a  style="color:white" href="contactus.php">Portfolio</a>
      </p>

    </div>


    <hr class="w-100 clearfix d-md-none">

    <div style="color:white" class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
      <h6 style="color:white"class="text-uppercase mb-4 font-weight-bold">Contact</h6>
      <p>
        <i style="color:white" ></i> India,maharashtra,Mumbai</p>
      <p>
        <i style="color:white"></i> shivani151020@gmail.com</p>
      <p>
        <i style="color:white" ></i> +91-8286455269</p>
      <p>
        <i style="color:white" ></i>+91-8286455269</p>
    </div>
    <!-- Grid column -->

  </div>


  <hr>


  <div class="row d-flex align-items-center">



    <div class="col-md-5 col-lg-4 ml-lg-0">



  </div>


</div>


</footer>