<section >
	<div class="container">
		<div class="section-title">
			<hr><h2>Order of products by customers</h2><hr>
		</div>
		<p class="lead alert alert-warning">This is a list of all the orders</p>
		<table class="table">
			<tr><th>User ID</th>
                <th>Model NO.</th>
				<th>User name</th>
				<th>User email</th>
				<th>User phone</th>
				<th>User Address</th>
                <th>Details</th>
                <th>Delete</th>
			</tr>
			{% for i in order %}
			<tr>
                <td>{{ i.uid}}</td>
                <td>{{ i.id}}</td>
				<td>{{ i.uname}}</td>
				<td>{{ i.uemail}}</td>
				<td>{{ i.uphone }}</td>
				<td>{{ i.uaddress }}</td>
                 <td>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#orderh{{i.id}}">See Details</a>
                 </td>
                <td>
                    <a href="/deleteuser/{{i.uid}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to delete?')">Delete</a>

                 </td>
			</tr>
			 <div id="orderh{{i.id}}" class="modal fade" role="dialog">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title"><b>Details of ordered item</b></h4>
                     </div>
                      <div style="padding: 25px; text-align: left;">
                        <h4><b>Details: </b></h4>
                          <p>User ID: {{i.uid}}</p>
                          <p>Product Model No: {{i.id}}</p>
                         <p>Product Type: {{i.itemname}}</p>
                         <p>Product Price: {{i.itemprice}} Rs/Day</p>
                         <p>Product Colour: {{i.itemcolor}}</p>
                          <p>From Date: {{i.fromdate}}</p>
                          <p>To Date: {{i.todate}}</p>
                          <p>Number of total days for which product is rented: {{i.totaldays}} Day</p>
                          <p>Total cost for {{i.totaldays}} days: {{i.totalcost}} Rs</p>
                      </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     </div>
                  </div>
               </div>
             </div>
			{% endfor %}
		</table>
    </div>
    </section>
